
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');



body {
    background: #9a4949;
}

h1 {
    color:#e9e9e9;
}

.container {
    width: 1000px;
    margin: auto;
}

.iconz {
    margin-top: 10px;
    text-decoration: none;
    color: #e9e9e9;
    margin-right: 10px;
    margin-bottom: 260px;
}

.aboutCard {
    padding: 20px 10px 70px 10px;
    border-radius: 10px;
    margin-bottom: 80px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    height: 100px;
   
}

h1,
h2,
h4,
p {
  margin: 0;
  padding: 0;
  color: #e9e9e9;
}

h2 {

    font-family: 'Roboto Mono', monospace;
    color:#e9e9e9;

}

